# Virtual environment
.venv/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS/Windows junk
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Log files
*.log
